.bg-container {
    height: 100vh;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2.5rem;
    color: #F8F8FF;
    top: 20vh;
}

#name {
    margin: 0;
}

#whoami ul {
    margin: 0;
    padding-left: 2rem;

    li {
        display: inline;
        white-space: nowrap;
        &.trade {
            font-size: 2.5rem;
        }
        &.passion {
            font-size: 1.75rem;
        }
    }
    li + li:before {
        content: " // ";
        color: rgba(255, 255, 255, 0.6);
    }
}